<div class="container-fluid chat-container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-6 m-auto pt-5">
      <div class="chat-info-container pt-1">
        
        <div class="chat-form">
          <%= form_for [ @provider, @chatroom, @message ], remote: true do |f| %>
            <%= f.text_field :content, as: :text, label: false, placeholder: "Chat with #{@chatroom.provider.name}", autofocus: true %>
            <button type="submit" class="chat-button">
              <i class="fas fa-chevron-circle-right fa-2x"></i>
            </button>
          <% end %>
        </div>
      </div>      
    </div>
  </div>
</div>
