<div class="container-fluid ">
  <div class="row home-container">
    <div class="col-12 md-6">
      <div class="brand-banner">
        <h1>Babylon</h1>
        <h2 class="display-1">Find services in your own language</h2>
        <a href="/categories" class="btn btn-secondary ">Find professionals in your area</a>
      </div>
    </div>
  </div>
</div>
