// Place all the styles related to the providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media only screen and (min-width: 300px){
    .new-provider-body{
        min-height: calc(100vh - 56px);
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 100px;
    }
    .new-provider-container{
        background-color: rgba(255, 255, 255, 0.9) !important;
        padding: 20px 10px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2)
    }
    .input-background{
        background-color: rgba(255, 255, 255, 0.7) !important;
    }
    .provider-image{
        width: 100%;
        height: 200px;
        object-fit: cover;

    }
    .carousel-container{
        padding-top: 56px;
    }
    .toggle-button-container{
        margin-top: 5em;
    }
    .toggle-view{
        width: 150px;
        display: block;
        margin: auto;
    }
    #map{
        background-image: url(https://source.unsplash.com/1600x900/?map);
        width: 95%;
        height: 90vh;
        margin: auto;
        border-radius: 10px;
        content: '';
    }
    .transition{
        opacity: 0;
        display: none;
    }
    .collage-container{
        display: none;
    }
    .provider-show-container{
        background-color: rgba(0, 0, 0, 0.8);
        min-height: 100vh;
        padding-bottom: 1em;
        padding-top: 4em;
    }
    .provider-show-info-container{
        background-color: rgba(255, 255, 255, 0.8);
        width: 95%;
        margin: .5em auto;
        border-radius: 10px;
        padding: 10px 20px;
    }
    .provider-show-info-container img {
        display: block;
        border-radius: 50%;
        margin: auto;
        object-fit: cover;
    }
}
@media only screen and (min-width: 768px){
    .carousel-container{
        display: none;
    }
    .collage-container{
        display: block;
        padding-top: 56px;
    }
    .column {
        flex: 50%;
        max-width:50%;
        padding: 4px;
    }
    
    .index-provider-card-body{
        padding-top: 40px !important;
    }
    .provider-image{
        height: 281px;
    }
}
@media only screen and (min-width: 993px){
    #toggleButton{
        display: none;
    }
    #map{
        width: 50%;
        position: sticky;
        top: 0;
    }
    .transition{
        opacity: 1;
        display: block;
    }
    .column {
        flex: 50%;
        max-width: 50%;
      }
}
@media only screen and (min-width: 1024){
    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 4px;
      }
      
      /* Create four equal columns that sits next to each other */
      .column {
        flex: 25%;
        max-width: 25%;
        padding: 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
}