// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media only screen and (min-width: 300px){
    .profile-page{
        background-color: rgba(0, 0, 0, 0.8);
        min-height: calc(100vh - 56px);
    }
    .profile-container img{
        width: 200px;
        display: block;
        height: 200px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin: auto;
    }
    .profile-container{
        position: relative;
        padding-top: 50px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 10px 20px;
    }
    .edit-profile-btn{
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .profile-info h4, .profile-info h6{
        display: inline;
    }
    .profile-action{
        margin-top: 3em;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.8);
    }
}